<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="logo">
      <img src="/assets/cors.png">
    </a>
    <h1>CORS Fix</h1>
    <p>An app that helps you help web resource owners serve CORS "correctly" for your own purposes.</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    To use the API, please go to the <a href="https://github.com/jasonhenderson/corsfix">Github repository README.</a>
  </div>
</div>


</body>
</html>
